<!DOCTYPE html>
<html>
<head>
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			$('#myTable').DataTable();
		});
	</script>

</head>
<body>

	<h1>Motley Crue Members</h1>
	<table id="myTable">
	<% theBand.map((member)=>{ %>
		<tr>
			<td><%=member%><a href="/remove/<%=member%>">Remove from band</a></td>>
		</tr>
	<% }) %>
	</table>

	<h2>What is your name?</h2>å
	<form action="/search" method="post">
		<input type="text" name="userName" placeholder="Enter your name" />
		<button type="submit">Submit</button>
	</form>

	<h2>Add a member to the band!</h2>
	<form action="/addNew" method="post">
		<input type="text" name="newMember" placeholder="Enter new band members name" />
		<button type="submit">Submit</button>
	</form>

</body>
</html>